@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Poppins Regular';
  src: url('../public/fonts/Poppins-Regular.ttf');
  font-display: swap;
}

@font-face {
  font-family: 'Poppins Bold';
  src: url('../public/fonts/Poppins-Bold.ttf');
  font-display: swap;
}

@font-face {
  font-family: 'Mada Regular';
  src: url('../public/fonts/Mada-Regular.ttf');
  font-display: swap;
}

@font-face {
  font-family: 'Mada Bold';
  src: url('../public/fonts/Mada-Bold.ttf');
  font-display: swap;
}

@font-face {
  font-family: 'Signika Regular';
  src: url('../public/fonts/Signika-Regular.ttf');
  font-display: swap;
}

@font-face {
  font-family: 'Signika Bold';
  src: url('../public/fonts/Signika-Bold.ttf');
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Regular';
  src: url('../public/fonts/Roboto-Regular.ttf');
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Bold';
  src: url('../public/fonts/Roboto-Bold.ttf');
  font-display: swap;
}

@layer components {
  .cart-item-subtext {
    @apply font-secondary-regular text-tertiary text-md sm:text-sm;
  }

  .product-attribute-text {
    @apply font-primary-bold text-md;
  }
}

html,
body {
  font-family: 'Poppins Regular', 'sans-serif';
  font-size: 16px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

@media (max-width: 1024px) {
  .container {
    padding: 0 36px;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 0 24px;
  }
}

@media (max-width: 640px) {
  .container {
    padding: 0 12px;
  }
}
