@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Poppins Regular';
  src: url('../public/fonts/Poppins-Regular.ttf');
  font-display: swap;
}

@font-face {
  font-family: 'Poppins Bold';
  src: url('../public/fonts/Poppins-Bold.ttf');
  font-display: swap;
}

@font-face {
  font-family: 'Mada Regular';
  src: url('../public/fonts/Mada-Regular.ttf');
  font-display: swap;
}

@font-face {
  font-family: 'Mada Bold';
  src: url('../public/fonts/Mada-Bold.ttf');
  font-display: swap;
}

@font-face {
  font-family: 'Signika Regular';
  src: url('../public/fonts/Signika-Regular.ttf');
  font-display: swap;
}

@font-face {
  font-family: 'Signika Bold';
  src: url('../public/fonts/Signika-Bold.ttf');
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Regular';
  src: url('../public/fonts/Roboto-Regular.ttf');
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Bold';
  src: url('../public/fonts/Roboto-Bold.ttf');
  font-display: swap;
}

@layer components {
  .cart-item-subtext {
    @apply font-secondary-regular text-tertiary text-md sm:text-sm;
  }

  .product-attribute-text {
    @apply font-primary-bold text-md;
  }
}

@layer base {
  .container {
    @apply max-w-[1279px] lg:max-w-[1023px] md:max-w-[767px] sm:max-w-[639px];
  }
}

html,
body {
  font-family: 'Poppins Regular', 'sans-serif';
  font-size: 16px;
}
